---
import Social from "./Social.astro";

const fullName = '';
const location = '';
const description = '';
---

<div id="about">
  <div>
    <div>
      <h1>{fullName}</h1>
      <div>
        <span>Pin Icon</span>
        <span>{location}</span>
      </div>
    </div>
    <div>
      <Social href="" label="">
        <span>Logo</span>
      </Social>
      <Social href="" label="">
        <span>Logo</span>
      </Social>
      <Social href="" label="">
        <span>Logo</span>
      </Social>
    </div>
  </div>
  <div>
    {description}
  </div>
</div>
